body {
  background-color: #f4e5f7;
 }

.off-canvas-wrapper {
  height: 600px;
}
.background {
 height: 300px;
 width: 100%;
}
#nameHeader {
  position: absolute;
  bottom: 8px;
 left: 16px;
}
div ul {
  list-style: none;
}