* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4e5f7;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f8b1e9;
  color: #111010;
}


.headerImage {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/headerImage.jpg");
    background-size: cover;
    background-position: center;
}  

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;